# -*- mode: gitignore; -*-

###############
# Emacs files #
###############
*_flymake.*
*~
.\#*
.dir-locals.el
.mypy_cache/
.projectile
/eshell/history
/eshell/lastdir
/server/
\#*
emacs/.emacs.d/.python-environments/
emacs/**/*.elc
emacs/**/*.rel
emacs/**/*.yas-compiled-snippets-el
emacs/**/*_archive
emacs/**/.cache/
emacs/**/.cask/
emacs/**/.emacs.desktop
emacs/**/.emacs.desktop.lock
emacs/**/.org-id-locations
emacs/**/.python-environments/
emacs/**/.yas-compiled-snippets.el
emacs/**/ac-comphist.dat
emacs/**/anaconda-mode/
emacs/**/auto-save-list
emacs/**/auto/
emacs/**/company-statistics-cache.el
emacs/**/config.el
emacs/**/dist/
emacs/**/elpa/
emacs/**/elpy/
emacs/**/elpy/
emacs/**/flycheck_*.el
emacs/**/games/
emacs/**/history
emacs/**/ido.last
emacs/**/network-security.data
emacs/**/places
emacs/**/recentf
emacs/**/recentf
emacs/**/semanticdb/
/emacs/.emacs.d/transient/
/emacs/.emacs.d/helm-adaptive-history
/emacs/.emacs.d/var/
/emacs/.emacs.d/var/
/emacs/.emacs.d/request/
/emacs/.emacs.d/git-command/
/emacs/.emacs.d/forge-database.sqlite
/emacs/.emacs.d/eshell/
/emacs/.emacs.d/emojis/
emacs/**/tramp
session*


######
# i3 #
######
i3/**/i3log
i3/**/i3-resurrect*/
i3/.i3/**/.*


##########################
# don't ignore gitignore #
##########################
!/.gitignore
/**/__pycache__/
/emacs/.emacs.d/eln-cache/
*.log
/.direnv/
/.envrc
/emacs/.emacs.d/lsp-cache/
