# -*- mode: gitignore; -*-

###############
# Emacs files #
###############
*_flymake.*
*~
.\#*
.dir-locals.el
.mypy_cache/
.projectile
emacs/**/network-security.data
/eshell/history
/eshell/lastdir
/server/
\#*
emacs/**/*.elc
emacs/**/*.rel
emacs/**/*.yas-compiled-snippets-el
emacs/**/*_archive
emacs/**/.cache/
emacs/**/.cask/
emacs/**/.emacs.desktop
emacs/**/.emacs.desktop.lock
emacs/**/.org-id-locations
emacs/**/.python-environments/
emacs/**/.yas-compiled-snippets.el
emacs/**/ac-comphist.dat
emacs/**/anaconda-mode/
emacs/**/auto-save-list
emacs/**/auto/
emacs/**/config.el
emacs/**/dist/
emacs/**/elpa/
emacs/**/elpy/
emacs/**/recentf
emacs/**/flycheck_*.el
emacs/**/games/
emacs/**/history
emacs/**/ido.last
emacs/**/places
emacs/**/semanticdb/
emacs/**/tramp
session*


######
# i3 #
######
i3/**/i3log
i3/**/i3-resurrect*/
i3/.i3/**/.*


##########################
# don't ignore gitignore #
##########################
!/.gitignore
