# -*- mode: gitignore; -*-

# Emacs files
*~
\#*\#

emacs/**/.emacs.desktop
emacs/**/.emacs.desktop.lock
emacs/**/*.elc
emacs/**/auto-save-list
emacs/**/tramp
.\#*

# Org-mode
emacs/**/.org-id-locations
emacs/**/*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
emacs/**/elpa/

# reftex files
emacs/**/*.rel

# AUCTeX auto folder
emacs/**//auto/

# cask packages
emacs/**/.cask/
emacs/**/dist/

# Flycheck
emacs/**/flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# session-backups
session*
emacs/**/places
emacs/**/ido.last
# python-environments
emacs/**/.python-environments/

# semantic
emacs/**/semanticdb/

# anaconda
emacs/**/anaconda-mode/